:root {
  --gradient: linear-gradient(
    45deg,
    #f8fb32,
    #fff317,
    #ffeb10,
    #ffd503,
    #fff718,
    #f9f51d
  );
}

.gradient-animation {
  background-size: 200%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
